<a
  routerLink="/"
  class="flex px-6 py-0 mb-4 text-white"
>
  <img
    class="h-[40px] max-w-[131px] w-full"
    src="../../../../assets/img/Spotify_Logo_RGB_White.png"
    alt="spotify image"
/></a>
<ul class="side-bar-top">
  <li *ngFor="let navItem of navItems" class="px-2 nav-link-container">
    <a
      routerLink="{{ navItem.path }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: navItem.exact! }"
      class="flex items-center px-4 nav-link-container__nav-link link-subtle"
    >
      <fa-icon
        *ngIf="navItem.icon as icon"
        [icon]="icon"
        class="text-[24px]"
      ></fa-icon>
      <span>{{ navItem.label }}</span>
    </a>
  </li>
</ul>

<sc-side-bar-playlist></sc-side-bar-playlist>
