<div class="text-gray-500 p-5 text-sm border-r border-gray-900">
  <div class="space-y-4">
    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faHome" class="text-xl"></fa-icon>
      <p>Home</p>
    </button>
    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faSearch" class="text-xl"></fa-icon>
      <p>Search</p>
    </button>
    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faBook" class="text-xl"></fa-icon>
      <p>Your Library</p>
    </button>
    <hr class="border-t-[0.1px] border-gray-900" />

    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faPlusCircle" class="text-xl"></fa-icon>
      <p>Create Playlist</p>
    </button>
    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faHeart" class="text-xl"></fa-icon>
      <p>Liked Songs</p>
    </button>
    <button class="flex items-center space-x-2 hover:text-white">
      <fa-icon [icon]="faRss" class="text-xl"></fa-icon>
      <p>Your Episodes</p>
    </button>
    <hr class="border-t-[0.1px] border-gray-900" />

    <!-- Playlists... -->
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
    <p class="cursor-pointer hover:text-white">Playlistt name....</p>
  </div>
</div>
